*{
    z-index: 1;
}
body{
background-image: linear-gradient(to bottom right, #249756c4, #2f8e98,#7f36f5 );
}
main{
display: flex;
flex-direction: column;
}
.flex1{
    display: flex;
}
.flex2{
    display: flex;
}

header{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
nav{
    width: 100%;
    display: flex;
    background-color: #3799db;
    justify-content: center;
    padding: 1rem;
    position: sticky;
    top: 0px;
    padding: 1rem;
    border: 3px black solid;
    z-index: 2;
}
a{
    text-decoration: none;
    font-size: x-large;
    color: black;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border: 3px black solid;
    border-radius: 15%;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border: solid 5px black;
    border-radius: 10%;
    background-image: linear-gradient(to bottom right,#38a578a4,#9265db);
    margin-top: 10rem;
    padding: 2rem;
}
section{
    width: 45%;
    margin: auto;

}
.makeBig{
    font-size: xx-large;
}
.owner{
    margin-left: 6rem;
}
img{
    width: 25%px;
    height: 50%px;
}
.imgGallery{
    display: flex;
    justify-content: center;
}

.fade{
    animation: fading 1s forwards;
}
.fadein{
    animation: fadingIn 1s forwards;
}
@keyframes fading {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}
@keyframes fadingIn {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}
footer{
    background-color: rgb(108, 113, 154);

}
.foot{
    display: flex;
    justify-content: space-evenly;
}
@keyframes hovering {
    0%{
        top: 0px;
        background-color: #659BEA;
    }
    100%{
        top:5px;
        background-color: #B1CAF0;
        border-color: rgb(57, 57, 57);
    }
}
a:hover{
    animation: hovering 0.5s forwards;
    
}